.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px;
}

.pizzaSvg {
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.title {
  flex: 1;
  margin-left: 20px;
  font-size: 0.6em;
}

.title h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .pizzaSvg {
    width: 60px;
  }
}
